{% extends 'layout.html' %}
{% block content %}
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>
<style>
h2 {
  color:white;
  font-size:55px;
  font-family: 'Roboto', sans-serif;
  padding-left: 50px;
}
p {
  color:white;
  font-size:24px;
  padding-left: 50px;
}

</style>
<h2 style = "color:white"> About text </h2>
<p >This is a simple website designed to make chess openings fun and easy to learn. </p>
<p>Made by Misha Pavlov </p>

{% endblock %}
