
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 25px;

  overflow: hidden;
  background-color:rgb(132,232,255);
  background:linear-gradient(90deg, rgba(132,232,255,1) 4%, rgba(6,127,182,1) 46%);
  font-family: 'Roboto', sans-serif;
  font-size: 40px;

}
li {
  float: left;
 font-size:50;
}

ul li {

font-family: 'Roboto', sans-serif;

}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 53;
}
li input{

  text-align: center;

}
</style>

<ul>
  <li><a class="/active" href="/" >Home</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/opening">Explorer</a></li>

</ul>
